{% extends "::base.html.twig" %}

{% block title %}Listagem de imagens{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/css/material-dashboard.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
{% endblock %}
{% block body %}
<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white">
    </div>
</div>

{% endblock %}
